
tr:nth-child(1){
  background:#A5D1DE       ;
  }
  tr:nth-child(2){
    background:#FDFEFE         ;
    }
    tr:nth-child(3){
      background:#FDFEFE         ;
      }
      tr:nth-child(4){
        background:#FDFEFE       ;
        }
.parent{
  display:flex;
  flex-direction: row;
  justify-content: center;
  }
.child{
  border: 2px solid #23A1F3;
  padding: 2%;
  margin: 2%;
  box-shadow: 3px 3px 3px #ddd;

}
body{
  background-color: #9ECDEB;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border:2px solid #89736F;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
h2,
h3{
  text-align: center;
}
.a{
  display: block;
text-align: center;
text-decoration:none;
background: #23A1F3;
color: #FDFEFE;
}
.leftChild{
  width: 30%;
  border: 2px solid #D81860;
  padding: 2%;
  margin: 2%;
  text-align: center;

}
.rightChild{
  width: 70%;
  border: 2px solid #D81860;
  padding: 2%;
  margin: 2%;
}
.mail{
  text-decoration: none;
  font-size: 20px;
}
@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    }
  .child{
    border: 2px solid #23A1F3;
    padding: 2%;
    margin: 2%;
    box-shadow: 3px 3px 3px #ddd;

  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid #89736F;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  h2{
    text-align: left;
  }
  h3{
    text-align: center;
  }
  body{
    background-color:#CBC06F ;
  }
  .a{
    display: block;
  text-align: center;
  text-decoration:none;
  background: #23A1F3;
  color: #FDFEFE;
  }
  .leftChild{
    width: 90%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
    text-align: center;

  }
  .rightChild{
    width: 90%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
  }
  .mail{
    text-decoration: none;
    font-size: 20px;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .parent{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
  .child{
    border: 2px solid #23A1F3;
    padding: 2%;
    margin: 2%;
    box-shadow: 3px 3px 3px #ddd;

  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid #89736F;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  h2,
  h3{
    text-align: center;
  }
  body{
    background-color:#80E8EE      ;
  }
  .a{
    display: block;
  text-align: center;
  text-decoration:none;
  background: #23A1F3;
  color: #FDFEFE;
  }
  .leftChild{
    width: 50%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
    text-align: center;

  }
  .rightChild{
    width: 50%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
  }
  .mail{
    text-decoration: none;
    font-size: 20px;
  }
}
@media only screen and (min-width:720px) and (max-width:1024px){
  .parent{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
  .child{
    border: 2px solid #9ECDEB;
    padding: 2%;
    margin: 2%;
    box-shadow: 3px 3px 3px #ddd;

  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:2px solid #9ECDEB;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  h2,
  h3{
    text-align: center;
  }
  body{
    background-color:#CBCEEC       ;
  }
  .a{
    display: block;
  text-align: center;
  text-decoration:none;
  background: #23A1F3;
  color: #FDFEFE;
  }
  .leftChild{
    width: 40%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
    text-align: center;

  }
  .rightChild{
    width: 60%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
  }
  .mail{
    text-decoration: none;
    font-size: 20px;
  }
}
#child2{
  background: #C1DFC8;
  border: 2px solid #5E74EC;

}
#child1{
  background: #C1DFC8;
  border: 2px solid #5E74EC;

}
